name: Dependency Submission

on:
  push:
    branches: [ main ]
    paths:
      - '**.go'
      - '**/go.mod'
      - '**/go.sum'
      - '.github/workflows/*'

permissions:
  contents: write

jobs:
  dependency-submission:
    name: Submit dependencies
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        module: ['plain', 'lambda']

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: ${{ matrix.module }}/go.sum
          go-version-file: ${{ matrix.module }}/go.mod

      - name: Run snapshot action
        uses: actions/go-dependency-submission@v2
        with:
          go-mod-path: ${{ matrix.module }}/go.mod
          go-build-target: ${{ matrix.module }}/main.go
