name: Test

on:
  push:
    branches: [ main ]
    paths:
      - '**.go'
      - '**/go.mod'
      - '**/go.sum'
      - '.github/workflows/*'
  pull_request:
    branches: [ main ]
    paths:
      - '**.go'
      - '**/go.mod'
      - '**/go.sum'
      - '.github/workflows/*'

jobs:
  lint:
    name: Run linter
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: ['print2pdf', 'plain', 'lambda']

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          cache-dependency-path: ${{ matrix.module }}/go.sum
          go-version-file: ${{ matrix.module }}/go.mod

      - name: Linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: ${{ matrix.module }}
